<!DOCTYPE html>
<html lang="en">

<head class="df jcc-and-aic">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
    <link rel="stylesheet" href="/admin/css/header.css">
    <link rel="stylesheet" href="/admin/css/<%- title %>.css">
    <link rel="stylesheet" href="/admin/css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/admin/js/header.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>

<body>
    <header class="header df aic">
        <div>
            <h1>Graza</h1>
        </div>
        <div class="df gap jcc-and-aic">
            <a class="logout df jcc-and-aic" href="/logout">Logout</a>
            <button class="show-sidebar">c</button>
        </div>
    </header>
    <div class="full-container df">
        <div class="sidebar">
            <div class="sidebar-content">
                <img src="/admin/img/icons/productListIcon.png" alt="">
                <a class="f-22" href="/admin/dashboard">Dashboard</a>
            </div>
            <div class="sidebar-content">
                <img src="/admin/img/icons/productListIcon.png" alt="">
                <a class="f-22" href="/admin/showProducts">View Products</a>
            </div>
            <div class="sidebar-content">
                <img src="/admin/img/icons/addProductIcon.png" alt="">
                <a class="f-22" href="/admin/addProduct">Add Products</a>
            </div>
            <div class="sidebar-content">
                <img src="/admin/img/icons/categoriesIcon.png" alt="">
                <a class="f-22" href="/admin/showCategories">Categories</a>
            </div>
            <div class="sidebar-content">
                <img src="/admin/img/icons/deletedImages.png" alt="">
                <a class="f-22" href="/admin/showDisabled">Show disabled</a>
            </div>
            <div class="sidebar-content">
                <img src="/admin/img/icons/coupon.png" alt="">
                <a class="f-22" href="/admin/coupons">Coupons</a>
            </div>
            <div class="sidebar-content">
                <img src="/admin/img/icons/coupon.png" alt="">
                <a class="f-22" href="/admin/orders">Orders</a>
            </div>

        </div>
        <div class="content-side df jcc-and-aic">


            <div class="top-charts">
                <canvas id="signupChart" ></canvas>
                <canvas id="myPieChart"></canvas>
                <div id="salesChart" class="df jcc-and-aic ">
                    <h2>Total sales : ₹<%=overallSale[0].totalSales %></h2>
                    <h2 class="green">Profit : ₹<%= (overallSale[0].totalSales / 100) * 20 %></h2>
                </div>
            </div>


        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
            const userData = JSON.parse('<%- JSON.stringify(userSignups) %>')

            const createChart = (ctx, chartData , label) => {
                const labels = chartData.map(data => data.label);
                const values = chartData.map(data => data.value);

                return new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: label,
                            data: values,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }
            const categoryPiectx = document.getElementById('myPieChart').getContext('2d');
            const categoryData = JSON.parse('<%- JSON.stringify(categoryPie) %>')
            const labels = categoryData.map(data => data.category);
            const percentages = categoryData.map(data => data.percentage);

            const myPieChart = new Chart(categoryPiectx, {
                type: 'pie',
                data: {
                    labels,
                    datasets: [{
                        data: percentages,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(75, 192, 192, 0.5)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 99, 132, 0.7)',
                            'rgba(54, 162, 235, 0.7)',
                            'rgba(255, 206, 86, 0.7)',
                            'rgba(75, 192, 192, 0.7)'
                        ],
                        borderWidth: 1
                    }]
                }
            });

            const salesctx = document.getElementById('salesChart')
            const overallSale = JSON.parse('<%-JSON.stringify(overallSale) %>')
            const salesLabels = overallSale.map(data => `${data.month}/${data.year}`);
            const totalQuantities = overallSale.map(data => data.totalQuantity);
            const totalPrices = overallSale.map(data => data.totalPrice);

            // const salesChart = new Chart(salesctx, {
            //     type: 'bar',
            //     data: {
            //         salesLabels,
            //         datasets: [
            //             {
            //                 label: 'Total Quantity Sold',
            //                 data: totalQuantities,
            //                 backgroundColor: 'rgba(75, 192, 192, 0.2)',
            //                 borderColor: 'rgba(75, 192, 192, 1)',
            //                 borderWidth: 1
            //             },
            //             {
            //                 label: 'Total Revenue',
            //                 data: totalPrices,
            //                 backgroundColor: 'rgba(153, 102, 255, 0.2)',
            //                 borderColor: 'rgba(153, 102, 255, 1)',
            //                 borderWidth: 1
            //             }
            //         ]
            //     },
            //     options: {
            //         scales: {
            //             y: {
            //                 beginAtZero: true
            //             }
            //         }
            //     }
            // });
            createChart(document.getElementById('signupChart').getContext('2d'), userData , 'No of customers');
            // createChart(document.getElementById('myChart3').getContext('2d'), chartData);
        });
        </script>
</body>

</html>