<%- include('partials/header') %>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to perform this operation?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-success btn-sm" data-bs-dismiss="modal">No</button>
          <button type="button" value="" class="btn btn-outline-danger btn-sm cancel-order"
            data-bs-dismiss="modal" aria-label="Close">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="order-container">
    <div class="orders">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <div>
              <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false" data-bs-auto-close="outside">
                  Select by date
                </button>
                <form class="dropdown-menu p-4">
                  <div class="mb-3">
                    <label for="from-date" class="form-label">From</label>
                    <input type="date" class="form-control" id="from-date" placeholder="From:">
                  </div>
                  <div class="mb-3">
                    <label for="to-date" class="form-label">To</label>
                    <input type="date" class="form-control" id="to-date" placeholder="To:">
                  </div>
                  <p class="date-error">provide two dates please.</p>
                  <button type="submit" class="btn btn-primary get-orders-by-date">Get orders</button>
                </form>
              </div>
            </div>
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" id="search-order" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>

      <table>
        <thead>
          <tr>
            <th>Order ID</th>
            <th>User Name</th>
            <th>Address</th>
            <th>Order Date</th>
            <th>Delivery Date</th>
            <th>Status</th>
            <th>Update</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="order-body">
          <% if(orders){ %>
            <% function truncateId(id) { %>
              <% return id.substring(0,5) + '...' %>
                <% } %>
                  <% orders.forEach(order=> { %>
                    <tr class="order-card-<%= order._id %>">
                      <% let shortOrderId %>
                        <td>
                          <%= truncateId(order._id.toString())%>
                        </td>
                        <td>
                          <%= order.addressObject?.firstName %>
                        </td>
                        <td>
                          <%= order.addressObject?.houseAndStreet %> <br>,
                            <%= order.addressObject?.postOffice%>(PO)
                        </td>
                        <td>
                          <%= order.orderedDate %>
                        </td>
                        <td>
                          <%= order.deliveryDate %>
                        </td>
                        <td>
                          <span
                            class="badge <%= order.status=='Pending' ? 'text-bg-warning' : order.status == 'Canceled' ? 'text-bg-danger' : 'text-bg-success' %> badge-<%= order._id %>">
                            <%= order.status %>
                          </span>
                        </td>
                        <td>
                          <button
                            class="btn btn-outline-success btn-sm deliver-order <%= `${order.status=='Pending' ? '' : 'disabled' } ` %> deliver-order-<%= order._id %>"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                            value="<%= order._id %>">
                            <%= `${order.status=='Pending' ? 'Delivered' : 'Delivered' } ` %>
                          </button>
                        </td>
                        <td>

                          <button type="button"
                            class="btn btn-outline-danger btn-sm show-cancel-modal <%= `${order.status=='Canceled' || order.status == 'Delivered' ? 'disabled' : '' } ` %> cancel-order-<%= order._id %>"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop" value="<%= order._id %>">Cancel</button>

                          <!-- Modal -->
                        </td>
                    </tr>
                    <% }) %>
                      <% } %>
        </tbody>
      </table>
    </div>

    <div class="pagination">
      <% for( let index=1; index <=paginationLength; index++ ) { %>
        <button class="pagination-button" value="<%= index %>">
          <%= index %>
        </button>
        <% } %>
    </div>
  </div>
  <%- include('partials/footer') %>